@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@theme {
  --color-main: rgb(33, 37, 41);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
